{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}

{% block styles %}
{{block.super}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link href="https://fonts.googleapis.com/css?family=Chicle|Lateef" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

<body>
    <div class="container">
        {% for image in images %}
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <div class="thumbnail">
                <div class="thumbnail-header" style="background: rgb(255, 255, 255);">
                    <a href="{% url 'viewprofile' id=image.profile.id %}" class="username">
                        <img src="{{image.details.pic.url}}" class="rounded-circle" style="width:10%; height:auto; font-size: 20px !important;"
                            href="{% url 'viewprofile' id=image.profile.id %}" />&nbsp;
                        {{image.profile.username}}</a>
                </div>
                <div class="thumbnail-body">
                    <a href="{% url 'viewprofile' id=image.profile.id  %}"> <img src="{{image.image.url}}" class="img-responsive imagee"
                            alt="" style="height:600px !important;width: 100% !important;position: center;size: cover;"></a>
                    <hr>
                    <p class="text-muted" style="color:black !important;">Posted <b>{{image.posted_on|timesince}}</b> ago</p>
                    <br>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href=" {% url 'like' image_id=image.id %}">
                                <i class="far fa-heart" style="color: black !important;font-size: 30px;opacity: 0.7;"
                                    aria-hidden="true"></i></a>
                            &nbsp; &nbsp;
                            <a href=" {% url 'comment' image_id=image.id %}">
                                <i class="far fa-comment" aria-hidden="true" style="color:black;font-size: 30px;opacity: 0.7;font-weight: 5px !important;"></i></a>
                            <hr>

                        </li>
                    </ul>


                    <h5 style=" font-size: 20px !important;"><strong>{{image.profile.username}}</strong>
                        {{image.caption}}</h5>
                    <p>{{image.count_likes}} likes</p>
                    <p class=""> {{image.comment.count}} comments </p>
                    <div class="card-body">
                        {% for comment in comments %}
                        {% if comment.image_id == image.id%}
                        <br>
                        <h5 style=" font-size: 20px !important;"><strong>{{comment.commenter}}</strong>
                            {{comment.comment_itself}}</h5>
                        <hr>

                        {% endif %}
                        {% endfor %}
                        <div class="comment-input-wrapper">
                                <form action="{% url 'comment' image_id=image.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="add-comment" name="comment_itself" id="comment{{image.id}}" type="text" placeholder="Comment on this image....">
                                </form>
                            </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
        <h3><i class="fa fa-user" style="font-size:25px;color: black;"></i>&nbsp;{{user.username}}</h3>
        <hr>
        <p class="text-muted"> Follow other users</p>
        <div class="list">
            <br>
            {% for profile in profile %}
            {% if user.username == profile.username%}
            {%else%}
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="/viewprofile/{{profile.id}}" class="others"><strong class="list-inline">
                            &nbsp;&nbsp;{{profile.username}} </strong>

                    </a>
                    <br>

                </li>
                {% if profile in people %}
                <li class="list-inline-item">
                    <a href="/unfollow/{{profile.id}}"><button class="btn btn-success btn-md">Following</button></a>
                </li>
                {% else %}
                <li class="list-inline-item">
                    <a href="/follow/{{profile.id}}"><button class="btn btn-success btn-md">Follow</button></a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
            {% endfor %}
        </div>

    </div>

</body>
<style>
    body {
        background: rgb(250, 249, 249);
        font-family: 'Lateef', cursive;
        font-size: 20px !important;

    }

    .card {
        position: relative;
        left: 140px;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .fa-bookmark:before {
        content: "\f02e";
        padding-left: 565px;
    }

    .imagee {
        height: 630px !important;
        width: 100% !important;
        position: center;
        size: cover;
    }

    .username {
        color: black;
        font-size: px;
        font-weight: bold;
        font-family: 'Lateef', cursive;
    }

    h5 {
        margin-top: -30px;
    }

    .list {
        overflow: scroll;
        width: 200px;
        height: 255px;
        background: rgb(241, 241, 241);
    }
</style>
{% endblock %}